.iconDecorationMainContainer {
  margin: 3%;
  padding: 1em;
  //background-color: #145b8a;
  border-radius: 1em;
  font-family: 'Monaco', cursive;
  color: #020085f8;
  font-weight: bold;
  border: solid;
  border-color: #145b8a;
}
.iconDecorationMain {
  display: flex;
  justify-content: space-between;
}
.iconDecoration.reactjs {
  width: 4.5%;
}
.iconDecoration.react_router {
  width: 7%;
}
.iconDecoration.html_ccss {
  width: 4%;
}
.iconDecoration.webpack {
  width: 4%;
}
.iconDecoration.babel {
  width: 4%;
}
.iconDecoration.zeit {
  width: 4%;
}
.iconDecoration img {
  width: 100%;
  height: 100%;
}
