.slideTitleMain {
  font-weight: bold;
  font-size: x-large;
  color: rgb(255, 255, 255);
}
.linkSlideIn {
  margin-left: 1em;
}

@import '../ResponsiveStyles/ProjectEffectResponsive.scss';
