.talentMain {
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Rubik', Arial, sans-serif;
}

.talentMain h4 {
  font-weight: bold;
  color: white;
}
.text.a {
  color: #56c9ff;
}
.talentimgContainer {
  width: 3em;
  margin-left: auto;
  margin-right: auto;
}

.talentimg {
  width: 100%;
  height: 100%;
}
