@media screen and (max-width: 768px) {
  .imgContainer {
    width: 75%;
    height: 22em;
  }
  .mainDescriptionContainer {
    display: block;
    padding: 5%;
  }
  .imgDescription {
    border-radius: 1em;
    margin: 2% 20%;
  }
}
